* {
  font-family: roboto, arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgb(238, 237, 237);
}

body::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  clip-path: circle(56% at 100% 50%);
  background: linear-gradient(
    20deg,
    rgb(132, 26, 156) 10%,
    rgb(234, 99, 244) 100%
  );
}

.card {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  width: 760px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  position: relative;
}

.card::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 0 12px 12px 0;
  clip-path: circle(66% at 100% 40%);
  background: linear-gradient(
    20deg,
    rgb(132, 26, 156) 10%,
    rgb(234, 99, 244) 100%
  );
}

.discription-box {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 35px 5px 0 35px;
}

.discription {
  display: flex;
  flex-direction: column;
}

h1 {
  color: rgb(166, 52, 166);
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 6px;
}

.discription-para {
  font-size: 13px;
  font-weight: 500;
  color: rgb(61, 61, 61);
}

.rating {
  margin: 16px 0;
  font-size: 22px;
  color: rgb(255, 157, 0);
}

.price-box {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.price {
  font-size: 20px;
  font-weight: 400;
  color: rgb(129, 128, 128);
  margin: 10px 0 0 12px;
  text-decoration: line-through;
}

.discounted-price {
  color: rgb(186, 63, 186);
  font-size: 35px;
  font-weight: 500;
}

.cart-btn {
  margin-top: 60px;
}

.cart-btn button {
  background-color: rgb(186, 63, 186);
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.15s ease;
  box-shadow: 0 0 10px rgba(186, 63, 186, 0.25);
}

.cart-btn button:hover {
  transform: scale(0.97);
}

.image-box {
  position: relative;
  text-align: right;
  width: 55%;
  display: flex;
  flex-direction: column;
  padding: 0 0 25px 25px;
}

.product-image {
  position: relative;
  width: 380px;
  height: 300px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-details {
  padding: 0 35px;
}

.brand {
  font-size: 20px;
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
  margin-bottom: 6px;
}

.product-name {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 4px;
}

.shipping {
  font-size: 15px;
  font-weight: 400;
}

.login-btn {
  margin: 18px 0;
}

.login-btn button {
  padding: 8px 16px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.15s ease;
}

.login-btn button:hover {
  transform: scale(0.97);
}
