body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: arial;
  color: rgb(236, 232, 232);
  background-color: rgb(200, 216, 222);
}

.card {
  width: min(500px, 90vw);
  border-radius: 25px;
  position: relative;
}

.card-bg {
  width: 100%;
  border-radius: 25px;
}

.card-logo {
  width: 60px;
  position: absolute;
  top: 35px;
  left: 35px;
}

.card-chip {
  width: 70px;
  position: absolute;
  top: 35px;
  right: 35px;
}

.card-type {
  font-size: 1.25rem;
  position: absolute;
  top: 40px;
  left: 110px;
}

.card-number-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 130px;
  left: 35px;
}

.card-number-text,
.valid-day {
  font-size: 0.9rem;
}

.card-number,
.card-owner-name {
  font-size: 1.5rem;
}

.card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 35px;
  bottom: 35px;
  right: 35px;
}

.valid-date-container {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.valid-date {
  font-size: 1.37rem;
}

.